attrs==21.2.0
autopep8==1.5.7
boto3==1.17.62
botocore==1.20.62
iniconfig==1.1.1
jmespath==0.10.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.2.4
pytest-runner==5.3.1
python-dateutil==2.8.1
s3transfer==0.4.2
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.26.4
